@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0c0145;
  color: #e1e1e3;
}

#jumbotron {
  display: grid;
  grid-template-columns: 1fr 2fra 1fr;
  justify-items: start;
  text-align: left;
  width: 100vw;
}

.greeting {
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
  width: 70vw;
  padding: 25px;
  margin-top: 10vh;
  line-height: 25px;
}

h1 {
  font-weight: 500;
  font-size: 50px;
}

p {
  font-weight: 400;
  font-size: 20px;
}

img {
  width: 200px;
  height: 200px;
  background: transparent;
  position: absolute;
}

.desktopImg {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  align-self: stretch;
  z-index: 0;
  padding-left: 100px;
  margin-left: 100px;
}

.popcorn {
  width: 300px;
  height: 300px;
}




.card-container {
  display: grid;
  justify-items: center;
  width: 100vw;
}

.card-list {
  margin-top: 40px;

}

.card {
  max-width: 875px;
  padding: 20px 4rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  margin-bottom: 2rem;
  background-color: #3f51b5;
  color: white;
}

.card--title {
  margin-bottom: 0.5rem;
  font-size: 3.2rem;
}

.card--image {
  margin: 0 auto;
  display: block;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
}

@media (max-width: 700px) {

  .jumbotron {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  h1 {
    font-size: 40px;
    line-height: 1;
  }

  .card {
    max-width: 375px;
  }
}